.jumbotron {
  position:relative;
}

#github {
  position: absolute; 
  top: 5px; 
  left: 5px;
  width: 40px;
  height: auto;
}

.fakeimg {
  height: 200px;
  background: #aaa;
}

section {
  display: flow;
  background: lightgrey;
  padding-bottom: 70px;
}

.section-container{
  margin-bottom: 0px;
  margin-top: 0px;
}

.button {
  background-color: #003362;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
}

.section-text{
  padding-top: 20%;
  padding-bottom: 20%;
}

p{
  font-size: large;
}

#phone{
  padding-top: 20px;
}

@media (max-width:800px) {
  img#phone {
    display: none;
  }

  img#processor{
    display: none;
  }
}

.footer-nav{
  float: inherit;
}

.footer-nav-item{
  margin-left:20px;
  color: #6c6c6c;
  text-decoration: none;
  font-size: small;
}

.progress{
  background-color: lightgrey;
  width: 30%;
  height:15%;
  padding-top: 15px;
  font-size: large;
}