.jumbotron {
  position:relative;
}

#github {
  position: absolute; 
  top: 0; 
  left: 0;
  height: auto;
}

.fakeimg {
  height: 200px;
  background: #aaa;
}

h3{
  text-decoration: none;
  color: #003362;
}

p{
  font-size: large;
}

#phone{
  padding-top: 20px;
}

@media (max-width:800px) {
  img#phone {
    display: none;
  }

  img#processor{
    display: none;
  }

  img#webapp{
    display: none;
  }
  img#server{
    display: none;
  }
}

.footer-nav{
  float: inherit;
}

.footer-nav-item{
  margin-left:20px;
  color: #6c6c6c;
  text-decoration: none;
  font-size: small;
}

.progress{
  background-color: lightgrey;
  width: 30%;
  height:15%;
  padding-top: 15px;
  font-size: large;
}

.wrapper section>h2 {
  color: #003362;
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: 700;
  margin: 115px auto 50px;
  position: relative;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  margin: 115px 0 50px;
}

.wrapper section>h2::before {
  background: #003362 none repeat scroll 0 0;
  bottom: -13px;
  content: "";
  height: 2px;
  left: 48%;
  position: absolute;
  width: 75px;
  margin: 0 auto;
}

.wrapper section>p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}

.our_activity {
  margin-bottom: 100px;
  margin-top: 50px;
}

.our_activity .single-Promo {
  border-radius: 7px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
  margin: 100px 35px 0;
  padding: 40px 45px;
  position: relative;
}

.our_activity .single-Promo .promo-icon {
  left: 0;
  position: absolute;
  text-align: center;
  top: -40px;
  width: 100%;
}

.our_activity .single-Promo h2 {
  border-radius: 60px;
  margin: 10px auto 38px;
  position: relative;
  width: -moz-fit-content;
}

.our_activity .single-Promo h2::before {
  background: #000 none repeat scroll 0 0;
  bottom: -5px;
  content: "";
  height: 2px;
  left: 20%;
  position: absolute;
  width: 60%;
}


.our_activity .single-Promo i {
  border: 0 solid #000;
  border-radius: 50%;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
  font-size: 30px;
  padding: 25px;
  text-align: center;
  background: #fff;
}

.our_activity .single-Promo:hover>h2 a {
  color: #003362 ;
}

.our_activity .single-Promo:hover>.promo-icon i {
  background: #003362 ;
  color: #fff;
}

.our_activity .single-Promo:hover>h2::before {
  background: #003362 ;
  color: #fff;
}
